.Landing {
  --button-size: 3rem;
  --button-border-radius: calc(var(--button-size) / 5);

  display: grid;
  grid-template-rows: 1fr auto 1fr 3rem;
  height: 100vh;
  background-size: cover;
  /* background-position: center; */

  @media screen and (prefers-color-scheme: dark) {
    background-blend-mode: multiply;
    background-color: DimGray;
  }

  .Form {
    grid-row-start: 2;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    @media screen and (prefers-color-scheme: dark) {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;

    strong {
      font-weight: 600;
    }

    @media screen and (prefers-color-scheme: dark) {
      color: rgb(254, 255, 254);
    }
  }

  h1, p {
    margin: 1rem 0;
    text-align: center;
  }

  button {
    display: inline-block;
    margin: 0 auto;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: var(--button-border-radius);
    background: RoyalBlue;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  input[type=text] {
    width: 200px;
    margin-left: 0.5rem;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    background: transparent;
    color: inherit;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    outline: none;
  }

  .unsplash-credit {
    grid-row-start: 4;
    text-align: center;

    a {
      display: inline-block;
      background-color: black;
      color: white;
      text-decoration: none;
      padding: 4px 6px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.2;
      border-radius: 3px;

      span {
        display: inline-block;
        padding: 2px 3px;
      }

      svg {
        height: 12px;
        width: auto;
        position: relative;
        vertical-align: middle;
        top: -1px;
        fill: white;
      }
    }
  }
}
