.SiteNotification {
  padding: 0.9em;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0.4em;
  background-color: rgba(200, 200, 200, 0.3);
  text-align: center;

  > p {
    margin-bottom: 0.5rem;
    font-weight: 100;
    font-size: 0.9em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .expiry-date {
    color: yellowgreen;
    font-weight: bold;

    &--close {
      color: crimson;
    }
  }

  a {
    color: royalblue;

    &:hover {
      text-decoration: none;
    }
  }
}
