.Summary {
  --summary-item-font-size: 1.5em;
  --summary-item-height: 3em;

  margin-top: 1rem;
  font-size: var(--summary-item-font-size);
  transition: opacity 500ms ease;

  &.fade-enter,
  &.fade-exit {
    opacity: 0.01;
  }

  &.fade-enter-active {
    opacity: 1;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
  }

  li {
    display: flex;
    margin: 0 0 1rem;
  }

  dt {
    margin-left: 0.5rem;
    line-height: var(--summary-item-height);
    white-space: nowrap;
  }

  dd {
    display: inline-block;
    width: var(--summary-item-height);
    height: var(--summary-item-height);
    margin: 0;
    border-radius: 50%;
    background-color: LightGrey;
    color: DarkSlateGrey;
    line-height: var(--summary-item-height);
    text-align: center;
    user-select: none;
  }
}
