.Summary {
  --summary-item-font-size: 1.5em;
  --summary-item-height: 3em;

  transition: opacity 0.5s ease;
  font-size: var(--summary-item-font-size);
  opacity: 0;

  &.show {
    opacity: 1;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
    list-style-type: none;
  }

  li {
    display: flex;
    margin: 0 20px 20px 20px;
  }

  dt {
    margin-left: 0.5rem;
    line-height: var(--summary-item-height);
    white-space: nowrap;
  }

  dd {
    display: inline-block;
    width: var(--summary-item-height);
    height: var(--summary-item-height);
    margin: 0;
    border-radius: 50%;
    background-color: LightGrey;
    color: DarkSlateGrey;
    line-height: var(--summary-item-height);
    text-align: center;
  }
}
