:root {
  --vote-width: 100px;
}

.Votes {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
    list-style-type: none;
  }

  li {
    min-width: 20%;
    margin: 0 0 20px;
  }

  dd, dt {
    width: 100px;
    margin: 0 auto;
  }

  dt {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2em;
  }
}
