.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 120px;
  padding: 30px 45px;
  border-radius: 5px;

  section {
    margin: 0 auto;
  }

  input {
    height: 40px;
    width: 200px;
    padding: 0 10px;
    margin-left: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
  }

  button {
    display: block;
    height: 40px;
    width: 360px;
    margin: 20px auto 0;
    background-color: #93adc6;
    border-radius: 3px;
    border: 0 solid #ff2e63;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
}