.Join {
  --join-font-size: 1.5em;
  --join-button-size: 2em;
  --join-button-border-radius: calc(var(--join-button-size) / 5);

  margin: 1rem 0;
  text-align: center;
  font-size: var(--join-font-size);
  white-space: nowrap;

  button {
    display: inline-block;
    margin-left: 0.5rem;
    width: calc(var(--join-button-size) * 2);
    height: var(--join-button-size);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: var(--join-button-border-radius);
    background: YellowGreen;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;

    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1.1);
      }
    }
  }

  input[type=text] {
    width: 9em;
    margin: 0 0.5rem;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    background: transparent;
    color: inherit;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    outline: none;
  }
}

@media (max-width: 500px) {
  .Join {
    --join-font-size: 1.4em;
  }
}

@media (max-width: 374px) {
  .Join {
    --join-font-size: 1.1em;
  }
}
