* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Lucida Grande", "Segoe UI", sans-serif;
}

@keyframes octocat-wave {
  0%,
  100% { transform: rotate(0) } 20%,
  60% { transform: rotate(-25deg) } 40%,
  80% { transform: rotate(10deg) }
}
