.page-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session-page {
  position: relative;
  width: 500px;
  margin: auto;
}

.statistics {
  display: none;
  position: absolute;
  width: 300px;
  left: 540px;
  top: 280px;
}

.session-page button {
  margin: 10px;
}

.session-page h1 {
  text-align: center;
}

.hidden-point {
  background-color: #333;
}

.ready-point {
  color: green;
  background-color: green;
}
