:root {
  --actions-button-size: 3rem;
  --actions-button-border-radius: calc(var(--actions-button-size) / 5);
}

.Actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  ul {
    display: flex;
    margin: 1rem 0;
    list-style-type: none;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  button {
    position: relative;
    display: inline-block;
    height: var(--actions-button-size);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-family: inherit;
    font-size: calc(var(--actions-button-size) / 2);
    outline: none;

    &.selected::after {
      content: '';
      position: absolute;
      bottom: 6px;
      left: 50%;
      width: 4px;
      height: 4px;
      margin-left: -2px;
      border-radius: 50%;
      background-color: white;
    }

    &:hover {
      transform: scale(1.4);
    }

    &:active {
      transform: scale(1.2);
    }
  }

  .scores {
    background-image: linear-gradient(to left, #feac5e, #c779d0, #4bc0c8);
    border-radius: var(--actions-button-border-radius);
    overflow-x: hidden;
  }

  .scores button {
    width: var(--actions-button-size);
    background: transparent;
    color: white;
  }

  .operations button {
    margin: 0 1rem;
    width: calc(var(--actions-button-size) * 2);
    border-radius: var(--actions-button-border-radius);
    background: YellowGreen;
    color: white;

    &.danger {
      background: crimson;
    }
  }
}
